streamlit
youtube-transcript-api
langchain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langchain-text-splitters
langchain-google-vertexai
langchain-tavily
langchain-classic
langchainhub
langchain-huggingface
langserve
fastapi
uvicorn
sse-starlette
bs4
pypdf
faiss-cpu
google-generativeai
openai
python-dotenv
ipykernel
wikipedia
arxiv
huggingface-hub
huggingface
transformers
sentence-transformers
grandalf
chromadb
tiktoken
